# === DJANGO BASE ===
DEBUG=True
SECRET_KEY=django-insecure-6-(wj36cp9p_u7f$b1g=0q7bgzumged)38_+4fe@g*-)o(7-il
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# === DB: Option A (remote school server) ===
DATABASE_URL=mysql://ich1:ich1_password_ilovedbs@ich-edit.edu.itcareerhub.de:3306/ich1_rental_knysh?charset=utf8mb4

# === DB: Option B (local Docker MySQL) ===
# DATABASE_URL=mysql://app:app@db:3306/rental?charset=utf8mb4

# === EMAIL (console) ===
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@rental.local
